.bg-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.github-logo {
  width: 7rem;
  border-radius: 50%;
}

.input-width {
  width: 45rem;
  border: 0.2rem solid;
}

.btn-caret {
  caret-color: red;
}

.btn-center {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.table-center {
  display: flex;
  justify-content: center;
}

.table-margin-center {
  margin-top: 5%;
  width: 50rem;
}

table,
th,
td {
  border: 1px solid black;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  height: 40px;
  font-weight: bold;
  color: whitesmoke;
}
